<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Image Searcher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="d-flex flex-column align-items-center">
    <h1>Search My Images</h1>

    <div>
        <input id="search_input" type="text" placeholder="search query">
        <button id="search_button">Search</button>
    </div>
    <div class="container-md">
        <div id="results" class="row p-2">

        </div>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    const ENTER_KEY_ASCII = 13;
    let resultsDiv = document.getElementById('results');


    function getImageCard(imageData) {
        let imageFilename = imageData.filename;
        let imageFullPath = imageData.full_path;
        let imageUrl = imageData.url;

        let div = document.createElement("div");
        div.className = "card col-sm-5 col-md-3 m-1";
        div.style = "width: 18rem;";

        let imageLink = document.createElement("a");
        imageLink.href = imageUrl

        let image = document.createElement("img");
        image.src = imageUrl
        image.className = "img-fluid";
        imageLink.appendChild(image);

        div.appendChild(imageLink);

        let cardBody = document.createElement("div");
        cardBody.className = "card-body";
        cardBody.innerHTML = `<span>${imageFilename}</span> <a href='${image.src}' download>Download</a>`;

        div.appendChild(cardBody);
        return div;
    };

    function clearResults()
    {
        resultsDiv.innerHTML = "";
    };

    async function getSearchResuts() {
        let apiUrl = "/api/search/";
        let query = document.getElementById("search_input").value;
        if (!query) {
            return [];
        }

        let response = await fetch(apiUrl + query);
        let images = await response.json();
        return images;
    };

    function setSearchResults() {
        clearResults();

        getSearchResuts()
        .then(function(results) {  
            results.forEach(function(image) {
                resultsDiv.appendChild(getImageCard(image));
            });
        }).catch(function(error) {  
            console.log('Request failed', error);  
        });
        
    };

    document.getElementById("search_button").onclick = setSearchResults;

    document.getElementById("search_input")
    .addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === ENTER_KEY_ASCII) {
            document.getElementById("search_button").click();
        }
    });

    $(document).ready(function(){
        $(document).bind("keydown", function(e){ 
            e = e || window.event;
            var charCode = e.which || e.keyCode;
            if (charCode == 70 && document.activeElement !== document.getElementById("search_input")) {
                e.preventDefault();
                document.getElementById("search_input").focus();
            }
            if (charCode == 27) {
                document.activeElement.blur();
            }
        });
    });
</script>
</html>